{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        <h1>{{=response.title}}</h1>
      </div>
    </header>
</body>
{{end}}
    <style>
        .areaHeader {
            border: 1px solid black;
            color: white; 
            background-color: black;
        }
    </style>
    <characterSheet style="background-color: #F4D34D; width: 700px; height: 1000px;">
        <hr />
            <button>
                    Add new character
            </button>
        <hr />
        {{=all_characterSheets}}
        <br/>
        {{for c in all_characterSheets:}}
            <hr />
            <character style = "border: 1px solid black; margin: 5px;">
                <area_image>
                    <img style = "height: 100px; width: 50px;" src="https://mjstrwy.pythonanywhere.com/CharacterTome/appadmin/download/db/characterInfo.image_1.839359c7c1640641.726574682e504e47.PNG"></img>
                </area_image>
                <area_id>
                    <div class = "areaHeader">
                        ID
                    </div>
                    <div>
                        Name: {{=c.name}}
                    </div>
                    <div>
                        Desc: {{=c.description}}
                    </div>
                </area_id>
                <area_refresh>Refresh: {{=c.refresh}}; </area_refresh>
                <area_currFatePoints>Current Fate Points: </area_currFatePoints>
                <div>
                    <area_aspects>
                        <div class="areaHeader">
                            Aspects
                        </div>
                    </area_aspects>
                </div>
                <area_approaches>
                    <div class="areaHeader">
                        Approaches
                    </div>
                    <!--FateLadder: {{=fateLadder}}<br/>-->
                    <span>Careful: {{=fateLadder[6]}}; </span>
                    <span>Clever: {{=fateLadder[0]}}; </span>
                    <span>Flashy: {{=fateLadder[3]}}; </span>
                    <span>Forceful: {{=fateLadder[1]}}; </span>
                    <span>Quick: {{=fateLadder[-1]}}; </span>
                    <span>Good: {{=fateLadder[0]}}</span>
                </area_approaches>
                <area_stunts>
                    <div class="areaHeader">
                        Stunts
                    </div>
                </area_stunts>
                <area_stress>
                    <div class="areaHeader">
                        Stress
                    </div>
                    <span>Stress: {{=c.stress}}</span>
                </area_stress>
                <area_consequences>
                    <div class="areaHeader">
                        Consequences
                    </div>
                </area_consequences>
            </character>
            <br/>
        {{pass}}
    </characterSheet>
